body {
    font-family: Arial, sans-serif;
    background-color: #e6ffe6;
}
.crop-bottom {
    height: 400px; /* or any other value you want */
    width: 600px; /* or any other value you want */
    object-fit: none;
    object-position: top; /* this will crop the image from the bottom */
  }
  
/* Styles for the h1 element */
h1 {
    color: #003399;
    text-align: center;
    margin-top: 30px;
}

/* Styles for the img element */
img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    border: 5px solid #003399;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

p {
    color: #003399;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

ul, ol {
    list-style: none;
    font-size: 18px;
    color: #333;
    margin: 30px auto;
    padding: 0;
    width: 50%;
    list-style: circle;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
    width: 80%;
}

th {
    background-color: #003399;
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* Styles for the table cells */
td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Styles for the video element */
video {
    display: block;
    margin: auto;
    height: auto;
    margin-top: 30px;
}
.table-img {
    height: 200px;
    width: 150px;
    padding: 2px;
    border-color: #333;
    border-width: 2px; 
  }
  
  video {
    width: 300px;
    height: 200px;
  }
  
